<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043112596665-7c6rjsougcvtjk87000uh6fiiomgdavj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043112596665-7c6rjsougcvtjk87000uh6fiiomgdavj</string>
	<key>API_KEY</key>
	<string>AIzaSyAQfedm4tQTFb2XIMMPe8g8sO7ugjNMAAw</string>
	<key>GCM_SENDER_ID</key>
	<string>1043112596665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eremej.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>manhattan98-s-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>manhattan98-s-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043112596665:ios:bac9c5df8f88805a3f3768</string>
</dict>
</plist>